<h1>Check your account</h1>

<p>Please check your email and click on the verification code we sent you</p>

{{!-- <h2>Email</h2>
{{email}}

<h2>Subject</h2>
{{subject}}

<h2>Message</h2>
{{message}} --}}